fastapi[all]
protobuf==3.19.6
python-multipart
segmentation-models
segmentation-models @ git+https://github.com/qubvel/segmentation_models
keras==2.9.0
matplotlib==3.5.3
numpy==1.23.2
opencv_python>=4.6.0
pandas==1.4.4
Pillow>=9.2.0
pytest==7.3.1
segmentation_models==1.0.1
starlette==0.28.0
streamlit==1.22.0
tensorflow-cpu
urllib3>=1.25